/*basic html tag*/
body {
    background-color: rgb(243, 235, 224);
}

/*basic html tag*/
h1 {
    color: #ab7dd6;
}

/*id*/
#latin {
    color: rgb(165, 15, 15);
}

/*class*/
.szoveg {
    font-style: italic;
}

iframe {
    height: 800px;
    width: 1200px;
    border: none;
}