/*basic html tag*/
body {
    background-color: antiquewhite;
}

/*basic html tag*/
h1 {
    color: burlywood;
}

/*id*/
#latin {
    color: beige;
}

/*class*/
.szoveg {
    font-style: italic;
}

iframe { 
    width: 1000px;
    height: 800px
    border: none;
}